@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
*{
    margin: 0;
    padding: 0;
    }   
    body {
        font-family: 'Aboreto', cursive;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        background-image: url('/Imagens/logo3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
      .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 200px;
      }
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
        background-color: #000;
        -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
      }
      #titulo{
        text-align: center;
        font-size: 25px;
        color: #ff0000;
      }
.hashira1{color: #1C1C1C;}
.respiração1{color: #1C1C1C;}

.hashira2{color: rgb(98, 202, 98);}
.respiração2{color: rgb(98, 202, 98);}

.hashira3{color: rgba(78, 166, 218, 0.548);}
.respiração3{color:rgba(78, 166, 218, 0.548);}

.hashira4{color: rgb(0, 0, 255);}
.respiração4{color: rgb(0, 0, 255);}

.hashira5{color: #4169E1;}
.respiração5{ color: #4169E1;}

.hashira6{color: #FF1493;}
.respiração6{color: #FF1493}

.hashira7{ color: 	#FF4500;}
.respiração7{color: 	#FF4500;}

.hashira8{color: #363636;}
.respiração8{color: #363636;}

.hashira9{color: purple;}
#respiração9{color:rgb(185, 0, 185)}